<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curtrostudios.socialoidtest">

    <uses-feature android:name="android.software.live_wallpaper" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/wallpapers"
        android:icon="@drawable/ic_launcher">

        <service
            android:label="Wallpaper"
            android:name=".Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/cube2" />
        </service>
        <activity
            android:label="Settings"
            android:name=".Settings"
            android:theme="@android:style/Theme.Light.WallpaperSettings"
            android:exported="true">
        </activity>

    </application>
</manifest>
